<div class="card-custom" *ngFor="let tarea of tareas">
    <div class="card text-center">
        <div class="card-header">
          {{tarea.name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{tarea.name}}</h5>
          <p class="card-text">{{tarea.description}}</p>
          <button class="btn btn-danger" (click)="deleteTarea(tarea.id)">Eliminar</button>
        </div>
        <div class="card-footer text-body-secondary">
          {{tarea.date}}
        </div>
      </div>
</div>

  
